<h1>This is the first trial</h1>

<div>
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home" class="active">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
</html>
</div>

<div class="img1"><img src="https://i.ytimg.com/vi/GtEvysh1654/maxresdefault.jpg" alt=""></div>
<p>Director: Joseph Kahn <br>
  Producers: Jil Hardin <br>
  Nathan de la Rionda <br>
  Charleen Manca <br>
  Production Company: Supply & Demand<br>
  Thank you to the city of Dubai<br>
  Choreography by Aaron Sillis<br>
  Dancers:<br>
  Gianna Gi <br>
  Instagram: giannagi_<br>
  Haroon Al Abdali<br>
  Instagram: haroonkilla<br>
  Mamadou Bathily alias Bats<br>
  Instagram: batstreet<br>
  </p>
<div class="video1"><iframe width="560" height="315" src="https://www.youtube.com/embed/fKopy74weus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video1">Click Here for Video</iframe></div>